*{
    padding: 0;
    margin: 0;
    font-family: "Inter", sans-serif;
    overflow: hidden;
}

.container{
    height: 90vh;
    min-height: 94vh;
    font-weight: 800;
    font-size: 70px;
    line-height: 95px;
    text-align: center;
    color: #FFFFFF;
}

.container, .foot_container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.score_team1{
    background-color: #1E1E1E;
}

.score_team2{
    background-color: #222325;
}

.value1{
    position: absolute;
    top: 35%;
    left:20%;
    font-weight: 700;
    font-size: 80px;
}

.value2{
    position: absolute;
    left:70%;
    top: 35%;
    font-weight: 700;
    font-size: 80px;
}

.team1>.player{
    display: grid;
    grid-template-columns: 10% 90%;
}

.team2>.player{
    display: grid;
    grid-template-columns: 10% 90%; 
}

.team1>.player>.player_position{
    background-color: #FFD600;
    padding: 6px;
    text-align: center;
    color: #1E1E1E;
    font-size: 10px;
    font-weight: 400;
}

.team1>.player>.player_name{
    background-color: #222325;
    color: #fff;
    padding: 6px;
    font-size: 10px;
    font-weight: 400;
}

.team2>.player>.player_position{
    color: #1E1E1E;
    background-color:#FFD600;
    padding: 6px;
    text-align: center;
    font-size: 10px;
    font-weight: 400;
}
.team2>.player>.player_name{
    background-color:#535456; 
    color: #fff;
    padding: 6px;
    font-size: 10px;
    font-weight: 400;
}

.foot_container{
    height: 10vh;
    margin: auto;
    padding: auto;
}

